#flash {
	position: relative;
	width: 100vw;
	height: 40px;
}
#flash p {

	margin: 0;
	padding: 10px 10px 10px 10px;
	color: orange;
}

.error {
	font-size: small;
	color: #ccc;
	height: 10px;
	position: absolute;
	top: 48px;
	padding-left: 10px;
	font-style: italic;
}

#login-page .form-container {

	max-width: 400px;
	margin: auto !important;
}

.pagination li.active {
	width: 120px !important;
}

.upload {
	position: relative;
	width: 200px;
}

.upload .error {

	position: absolute;
	top: 100px;
	left: 15px;

}

a.small {
	font-size: small !important;
}

.business-cards .col {

	margin-bottom: 1px;
	margin-top: 1px;
	height: 100%;
}

.business-cards .pagination {

	width: 250px;
	margin: auto;
	margin-top: 35px;
}

/*.business-cards .card-image {
	height: 50px;
	width: 50px;
	margin: auto;
	margin-top: 10px;
}

.premium .card-content {

	position: absolute;
	bottom: 0px;
}

.premium .card {

	height: 300px;
}

.premium .card-title {

	font-size: large;
	line-height: 20px !important;
}

.premium .card-content p > a {

	font-size: small;
}*/

.count-label {
	position: relative;
	float: right;
	font-style: italic;
	font-size: small;
}

.form-container {
	max-width: 500px;
	padding-top: 10px;
	margin: auto;
}
.card-logo > img {

	width: 150px;
	height: 150px;
	padding: 5px;
}
.card-left {
	border-right: 1px solid #ddd;
}
.card-left, .card-right {
	display: inline-block;
	height: 150px;
}
.card-logo, .card-details {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 150px;
}
.card-details {

	bottom: 10px;
	padding: 5px;
}
.card-details > p {

	font-size: x-small;
	line-height: 1;
}
.card-content {

	height: 150px;
}
.business-card {
	display: inline-block;
	border: solid 1px #ccc;
	/*background-color: #ccc;*/
	width: 310px;
	height: 152px;
	margin: 2px;
	position: relative;
}

.card-name {
	position: relative;
	font-size: medium !important;
	font-weight: bold;
	top: -10px;
}

.card-address {

	font-style: italic;
	color: #4d4d4d;
}

.card-address .city {
	font-weight: bold;
}

/* Icons */

i.icon {

	width: 20px !important;
	height: 20px !important;
	padding-left: 5px;
}

.business-card .show {
	padding: 5px;
	display: none;
	position: absolute;
	background-color: #fff;
	top: 0px;
	height: 150px;
	width: 150px;
	overflow: hidden;
}
.show .card-info {
	font-size: small;
}
/* Premium */
.premium {
	border: solid 1px #ccc;
	height: 300px;
	width: 220px;
	display: inline-block;
	margin-left: 2px;
}

.business-cards-premium {

	width: 910px;
	height: 330px;
	margin: auto;
	padding-bottom: 20px;
	
}

/*.business-card {
	display: inline-block;
	border: solid 1px #ccc;
	background-color: #ccc;
	width: 310px;
	height: 152px;
	margin: 2px;
	position: relative;
}*/

.premium-logo > img {

	height: 172px;
	width: 172px;
	padding: 5px;
	position: relative;
	left: 23px;
}

.premium-content {
	position: relative;
	top: -20px;
	line-height: 1 !important;
	padding-left: 20px;
	font-size: small !important;

}
.premium-logo {
	height: auto;
}

.premium-address .city {
	font-weight: bold;
}

.promo-content > img {
	width: 218px;
}

.premium .show {
	display: none;
	position: absolute;
	width: 180px;
	height: 120px;
	top: 0px;
	background-color: #fff;
	overflow: hidden;
	z-index: 888;
}

.postcode {
	padding-left: 20px;
}

/* RIBBON */
div.folded:before, div.folded:after {
    /*bottom: 26px;*/
    /*box-shadow: 0 28px 8px rgba(0,0,0,0.5);*/
    /*content: "";
    height: 18px;*/
    position: absolute;
    /*width: 48%;*/
    /*z-index: -1;*/
    background-color: #ccc;
    
}
div.folded:before {
    left: 2%;
    transform: rotate(-3deg);
}
div.folded:after {
    right: 2%;
    transform: rotate(3deg);
}
div.folded span {
    border-width: 1px 1px 2px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
    margin: 0;
    padding: 2px 5px;
    position: absolute;
    right: -14px;
    top: -2px;
    font-size: small;
    background-color: #D96D00;
    color: #fff;
    right: -18px;
    z-index: 999;
}
div.folded span:after {
    border-width: 7px;
    border-style: solid;
    border-color: #134 transparent transparent #134;
    bottom: -15px;
    content: "";
    position: absolute;
    right: -1px;
}

nav {
	background-color: #D96D00;
}

.categories {
	width: 180px;
	left: -20px;
}

