#flash {
	position: relative;
	width: 100vw;
	height: 40px;
}
#flash p {

	margin: 0;
	padding: 10px 10px 10px 10px;
	color: orange;
}

.error {
	font-size: small;
	color: #ccc;
	height: 10px;
	position: absolute;
	top: 48px;
	padding-left: 10px;
	font-style: italic;
}

#login-page .form-container {

	max-width: 400px;
	margin: auto !important;
}