#flash {
	position: relative;
	width: 100vw;
	height: 40px;
}
#flash p {

	margin: 0;
	padding: 10px 10px 10px 10px;
	color: orange;
}

.error {
	font-size: small;
	color: #ccc;
	height: 10px;
	position: absolute;
	top: 48px;
	padding-left: 10px;
	font-style: italic;
}

#login-page .form-container {

	max-width: 400px;
	margin: auto !important;
}

.pagination li.active {
	width: 120px !important;
}

.upload {
	position: relative;
	width: 200px;
}

.upload .error {

	position: absolute;
	top: 75px;
	left: 15px;

}

a.small {
	font-size: small !important;
}

.business-cards .col {
	/*width: 200px;
	height: 200px;
	display: inline-block;
	margin: 5px;
	padding: 5px;*/

	margin-bottom: 1px;
	margin-top: 1px;
	height: 100%;
}

.business-cards .pagination {

	width: 250px;
	margin: auto;
	margin-top: 35px;
}

.premium .card-content {

	position: absolute;
	bottom: 0px;
}

.premium .card {

	height: 300px;
}

.premium .card-title {

	font-size: large;
	line-height: 20px !important;
}

.premium .card-content p > a {

	font-size: small;
}

.count-label {
	position: relative;
	float: right;
	font-style: italic;
	font-size: small;
}